:root{
    --cyan-strong: #d2e1f5;
    --cyan-very-dark: #845EC2;
    --cyan-dark-grayish : hsl(185, 14%, 49%);
    --cyan-light-grayish : #B39CD0;
    --white: hsl(0, 0%, 100%);
}

*{   
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body{
    font-size: 24px;
}

.main-title{
    text-align: center;
}

.main-container{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--cyan-light-grayish);
}

.main-content{
    border-radius: 25px;
    display: flex;
    background-color: var(--white);
    padding: 25px;
    align-content: center;
}

.left-container{
    border-radius: 25px;
    padding: 55px;
}


.right-container{
    display: grid;
    background-color: var(--cyan-very-dark);
    padding: 55px;
    border-radius: 25px;
    align-content: space-between;
}

.reset-button{
    height: 50px;
}

.information{
    display: grid;
    grid-template-columns: repeat(2,100px);
    justify-items: stretch;
    color: var(--white);
}

.amount{
    text-align: right;
    font-size: 25px;
    color: #d2e1f5;
}

.tip-buttons{
    display: block;
}

.form-control-range{
    outline: none;
    width: 200px;
}

#custom-tip{
    margin: 5px ;
    width: 100px;
    height: 38px;
}

.right-container > button {
    background-color: var(--cyan-strong);
    color: var(--cyan-very-dark);
    
}

.error-message {
    color: red;
    visibility: hidden;
    text-align: right;
}

.custom-error-message {
    color: red;
    visibility: hidden;
    text-align: right;
}

.select-tip-section, .number-of-people-section {
    margin-top: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}

input {
    text-align: right;
    color: var(--cyan-very-dark);
    box-sizing: border-box;
}

.icon-inside{
    position: relative;
}

.icon-inside i {
    position: absolute;
    left: 0;
    top: 2px;
    padding: 10px 10px;
}



/* Mobile Devices */
@media (max-width: 480px) {
    body {overflow: hidden; }
    .main-title{
        padding-top: 25%;
    }

    .main-container{
        display: block;
    }

    .main-content{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .right-container{
        padding: 20px;
    }

    .left-container{
        padding: 25px;
    }
}
